body
{
    font-family: Verdana, sans-serif;
}

h1
{
    border-left: 10px solid #8B4513;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

h2
{
    border-left: 10px solid #F4A460;
    padding-left: 10px;
    margin-left: 25px;
    font-size: 14px;
}

h3
{
    border-left: 10px solid #BC8F8F;
    padding-left: 10px;
    margin-left: 50px;
    font-size: 12px;
}

h4
{
    border-left: 10px solid gray;
    padding-left: 10px;
    margin-left: 70px;
    font-size: 12px;
}

p
{
    margin-left: 65px;
}

ul
{
    margin-left: 65px;
}

ol
{
    margin-left: 65px;
}

code
{
    display: block;
    background: white;
    border-left: 3px solid black;
    padding-left: 8px;
    margin-left: 10px;
}

table
{
    margin-left: 80px;
    border: 1px dashed gray;
}

th
{
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid black;
}

td
{
    font-size: 12px;
    border: 1px dotted black;
}

pre
{
    border-left: 3px solid black;
    padding-left: 8px;
    margin-left: 40px;
}
